<div class="container">
    <div class="option-bar">
        <div class="option-container">
            <button class="file-option-btn" (click)="openNewFolderModal(new_folder)"><i class="bi bi-folder-plus"></i>&#160;&#160;New Folder</button>

            <button class="file-option-btn" (click)="uploader.click()" *ngIf="!uploadProgress"><i class="bi bi-upload"></i>&#160;&#160;Upload File</button>
            <input hidden type="file" #uploader (change)="uploadFile($event.target.files)" onclick="this.value = null" />
            
            <div class="progress-container" *ngIf="uploadProgress">
                <ngb-progressbar class="progress" type="info" [value]="uploadProgress">
                </ngb-progressbar>
            </div>
            
            <button class="file-option-btn"><i class="bi bi-trash"></i>&#160;&#160;Delete Selected</button>

            <button class="file-option-btn"><i class="bi bi-person-plus"></i>&#160;&#160;Grant Access</button>

            <button class="file-option-btn" (click)="getFiles(currentDir)"><i class="bi bi-arrow-repeat"></i>&#160;&#160;Refresh</button>

            <input class="file-search" placeholder="What are you looking for?">
        </div>
    </div>
    <div *ngIf="currentDir != (null || undefined)" class="go-back-bar">
        <div class="go-back" (click)="goBack()">
            <div class="bi bi-arrow-90deg-up"> ../{{currentDir}}</div>
        </div>
    </div>
    <div class="file-container">
        <div *ngIf="files; else loading">
            <div class="file-header">
                <div class="file-info">
                    <div class="file-check">
                    </div>
                </div>
                <div class="file-info">
                    <div class="file-check">
                    </div>
                </div>
                <div class="file-info file-name">
                    Name
                </div>
                <div class="file-info">
                    <div class="file-card-option"></div>
                </div>
                <div class="file-info last-modified">
                    Last Modified
                </div>
                <div class="file-info file-owner">
                    Owner
                </div>
                <div class="file-info file-size">
                    File Size
                </div>
                <hr class="file-header-rule">
            </div>
            <app-file-card *ngFor="let file of files" [file]="file" (changeDirEvent)="changeCurrentDir($event)"></app-file-card>
        </div>
        <ng-template #loading>
            <div class="spinner"></div>
        </ng-template>
    </div>
</div>

<!-- Context menu template -->
<context-menu>
    <ng-template contextMenuItem let-item (execute)="downloadFile($event.item)">
        Download
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="deleteFile($event.item)">
        Delete
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="openNewFolderModal(copy_file)">
        Copy
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="openNewFolderModal(move_file)">
        Move
    </ng-template>
    <ng-template contextMenuItem>
        Rename
    </ng-template>
</context-menu>

<!-- New Folder modal template -->
<ng-template #new_folder let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Folder</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="createFolder(modal)" [formGroup]="newFolderForm">
        <div class="modal-body">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName='folderName' placeholder="Enter Folder Name" ngbAutofocus>
                </div>
            </div>
            <div *ngIf="newFolderForm.controls.folderName.invalid && newFolderForm.controls.folderName.dirty">
                <div *ngIf="newFolderForm.controls.folderName.errors?.required" class="form-control alert">
                    You must enter a name.
                </div>
                <div *ngIf="newFolderForm.controls.folderName.errors?.invalidChars" class="form-control alert">
                    Invalid characters.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="modal.close()">Cancel</button>
            <button type="submit" class="btn btn-dark" [disabled]="!newFolderForm.valid">Create</button>
        </div>
    </form>
</ng-template>

<!-- Copy File modal template -->
<ng-template #copy_file let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Copy file</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <hr class="file-header-rule">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 border-right">
                <th>
                <p>My Files</p>
                </th>
                <p>Folders here</p>
            </div>
            <div class="col-md-8">
                <table>
                    <tr>
                    <th>
                    
                <p>< My Files</p>
                    </th>
                </tr>
            
            <tr>
                <p>Files here</p>
            </tr>
                </table>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancel</button>
        <button type="submit" class="btn btn-dark" (click)="!newFolderForm.valid">Copy</button>
    </div>
</ng-template>

<!-- Move File modal template -->
<ng-template #move_file let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Move file</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <hr class="file-header-rule">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 border-right">
                <th>
                <p>My Files</p>
                </th>
                <p>Folders here</p>
            </div>
            <div class="col-md-8">
                <table>
                    <tr>
                    <th>
                    
                <p>< My Files</p>
                    </th>
                </tr>
            <tr>
                <p>Files here</p>
            </tr>
                </table>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancel</button>
        <button type="submit" class="btn btn-dark" (click)="!newFolderForm.valid">Move</button>
    </div>
</ng-template>

<!-- Delete File confirmation modal template -->
<ng-template #delete_file let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete file</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            Are you sure?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-dark" >Delete</button>
    </div>
</ng-template>