* {
    box-sizing: border-box;
}

.file-search {
    float: right;
    padding: 5px;
    border-radius: 6px;
    background-color: #323232;
    color: white;
    font-weight: 600;
    border: none;
    width: 18%;
    height: 100%;
    margin-right: 4%;
}

.file-search:focus::-webkit-input-placeholder {
    color:transparent;
 }
 
 .file-search:focus:-moz-placeholder { /* Firefox 18- */
    color:transparent; 
 }
 
 .file-search:focus::-moz-placeholder {  /* Firefox 19+ */
    color:transparent; 
 }
 
 .file-search:focus:-ms-input-placeholder {  
    color:transparent;
 }

 .file-search:focus::placeholder {
     color: transparent;
 }

::placeholder {
    text-align: center;
}

.file-option-btn {
    display: inline;
    text-align: center;
    font-weight: 600;
    background-color: #323232;
    color: white;
    border: none;
    width: 12%;
    height: 100%;
    padding: 5px;
    margin-right: 6px;
    border-radius: 6px;
}

.file-option-btn:hover {
    background-color: #1ab9d1;
    color: white;
}

.progress-container {
    display: inline-block;
    text-align: center;
    background-color: #323232;
    color: white;
    border: none;
    width: 12%;
    height: 100%;
    padding: 5px;
    margin-right: 6px;
    border-radius: 6px;
}

.progress {
    display: inline-flex;
    width: 92%;
    height: 10px;
    vertical-align: middle;
    color: #1ab9d1 !important;
}

.file-container {
    border-radius: 6px;
    margin-left: 4%;
    overflow-y: auto;
    height: 75%;
    width: 94%;
}

@media (max-height: 768px) {
    .file-container {
        height: 68%;
    }
}
@media (max-height: 615px) {
    .file-container {
        height: 66%;
    }
}

.option-bar {
    height: auto;
    width: auto;
    padding: 1.2rem;
    background-color: #222222;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 2px solid white;
}

.option-container {
    margin-left: 3%;
}

.go-back-bar {
    margin-left: 4%;
    margin-top: 1rem;
    color: white;
}

.go-back {
    background-color: #323232;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    width: auto;
}

.go-back:hover {
    background-color: #1ab9d1;
    cursor: pointer;
}

.file-header {
    width: 1442px;
    color: white;
    border-radius: 10px;
    padding: 4px;
    overflow: hidden;
    margin-bottom: .8rem;
    margin-top: .8rem;
}

.file-info {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
}

.file-check {
    width: 18px;
    height: 18px;
    border-radius: 9px;
}

.file-name {
    text-align: left;
    width: 35%;
    font-size: 14px;
}

.file-card-option {
    width: 24px;
    height: 24px;
    border-radius: 14px;
    text-align: center;
}

.last-modified {
    text-align: left;
    font-size: 14px;
    width: 20%;
}

.file-owner {
    text-align: left;
    font-size: 14px;
    width: 20%;
}

.file-size {
    text-align: right;
    font-size: 14px;
    width: 12%;
}

.container {
    padding: 0 0 15px 0;
    height: 100%;
}

.file-header-rule {
    background-color: white;
    margin: 6px 6px 1rem 0;
    width: 100%;
}

.ng-valid:not(form), .ng-valid.required  {
    border: 2px solid #1ab9d1;
}

.ng-dirty.ng-invalid:not(form) {
    border: 2px solid #a94442; /* red */
}

.ng-dirty.ng-invalid:not(form):focus {
    border-color: #a94442;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(169, 68, 66, 0.25);
}

.alert {
    background-color: #fed3d3;
    color: #820000;
    padding: .5rem;
    margin-top: .5rem;
    border: #82000083 2px solid;
    
}