<div class="container">
    <div class="option-bar">
        <button class="file-option-btn">New Folder</button>

        <button class="file-option-btn" (click)="uploader.click()">Upload File</button>
            <input hidden type="file" #uploader (change)="uploadFile($event.target.files)"/>

        <button class="file-option-btn">Delete Selected</button>

        <button class="file-option-btn">Grant Access</button>

        <button class="file-option-btn refresh" (click)="getFiles()">Refresh</button>

        <input class="file-search" placeholder="What are you looking for?">
    </div>
    <hr>
    <div class="file-container">
        <app-file-card *ngFor="let file of files" [file]="file"></app-file-card>
    </div>
</div>