<div class="container">
    <div class="option-bar">
        <div class="option-container">
            <button class="file-option-btn" (click)="createFolder(content)">New Folder</button>

            <button class="file-option-btn" (click)="uploader.click()">Upload File</button>
                <input hidden type="file" #uploader (change)="uploadFile($event.target.files)" onclick="this.value = null" />

            <button class="file-option-btn">Delete Selected</button>

            <button class="file-option-btn">Grant Access</button>

            <button class="file-option-btn" (click)="getFiles(currentDir)">Refresh</button>

            <input class="file-search" placeholder="What are you looking for?">
        </div>
    </div>
    <div class="file-container">
        <div *ngIf="files; else loading">
            <div class="file-header">
                <div class="file-info">
                    <div class="file-check">    
                    </div>
                </div>
                <div class="file-info">
                    <div class="file-check">
                    </div>
                </div>
                <div class="file-info file-name">
                    Name
                </div>
                <div class="file-info">
                    <div class="file-card-option"></div>
                </div>
                <div class="file-info last-modified">
                    Last Modified
                </div>
                <div class="file-info file-owner">
                    Owner
                </div>
                <div class="file-info file-size">
                    File Size
                </div>
                <hr class="file-header-rule">
            </div>
            <app-file-card *ngFor="let file of files" [file]="file" (changeDirEvent)="changeCurrentDir($event)"></app-file-card>
        </div>
        <ng-template #loading>
            <div class="spinner"></div>
        </ng-template>
    </div>
</div>

<!-- Context menu template -->
<context-menu>
    <ng-template contextMenuItem>
        Download
    </ng-template>
    <ng-template contextMenuItem>
        Delete
    </ng-template>
    <ng-template contextMenuItem>
        Copy
    </ng-template>
    <ng-template contextMenuItem>
        Move
    </ng-template>
    <ng-template contextMenuItem>
        Rename
    </ng-template>
</context-menu>

<!-- New Folder modal template -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>