<header class="header">
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Navbar Menu -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item"><a [routerLink]="['/product']" routerLinkActive="active" class="nav-link">Product</a>
            </li>
            <li class="nav-item"><a [routerLink]="['/company']" routerLinkActive="active" class="nav-link">Company</a>
            </li>
            <li class="nav-item"><a [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item"><a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Log In</a>
            </li>
          </ul>
           <!-- Navbar Brand -->
          <div class="navbar-header d-flex align-items-center justify-content-between">
            <a class="navbar-brand">tShare</a>
          </div>
      </div>
    </nav>
  </header>