<div class="container">
    <div class="row">
        <div class="center-form">
            <div class="col-md-12">
                <form (ngSubmit)="submit()" [formGroup]="resetForm">
                    <div class="form-group">

                        <h1>Reset Password</h1>
                        <p>Enter new password and confirm.</p>

                        <input class="form-control" type="password" formControlName="password" placeholder="Password"/>
                        <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
                            <div *ngIf="form.password.errors?.required" class="form-control alert">
                                Password is required.
                            </div>
                            <div *ngIf="form.password.errors?.invalidChars" class="form-control alert">
                                Password contains invalid characters.
                            </div>
                            <div *ngIf="form.password.errors?.invalidLength" class="form-control alert">
                                Password must be at least 9 characters long.
                            </div>
                            <div *ngIf="form.password.errors?.noNumbers" class="form-control alert">
                                Password must include at least one number.
                            </div>
                            <div *ngIf="form.password.errors?.noSymbols" class="form-control alert">
                                Password must include at least one symbol.
                            </div>           
                        </div>
                          
                        <input class="form-control" type="password" formControlName="confirm" placeholder="Confirm Password" />
                        <div *ngIf="form.confirm.invalid && (form.confirm.dirty || form.confirm.touched)">   
                            <div *ngIf="form.confirm.errors?.required" class="form-control alert">
                                You must confirm your password.
                            </div>
                            <div *ngIf="form.confirm.errors?.noMatch" class="form-control alert">
                                Passwords must match.
                            </div>
                        </div>
                        <button type="submit" class="form-control btn-custom btn-custom-center" [disabled]="!resetForm.valid">Confirm</button>
                    </div>
                    <div class="form-control" *ngIf="response" [ngClass]="response?.success ? 'alert-success' : 'alert'">{{response?.message}}</div>
                </form>        
            </div>  
        </div>    
    </div>
</div>