h1, p {
    padding: .2rem;
    text-align: center;
}

.ng-valid:not(form), .ng-valid.required  {
    border: 2px solid #1ab9d1;
}

.ng-touched.ng-invalid:not(form), .ng-dirty.ng-invalid:not(form) {
    border: 2px solid #a94442; /* red */
}

.ng-touched.ng-invalid:not(form):focus, .ng-dirty.ng-invalid:not(form):focus {
    border-color: #a94442;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(169, 68, 66, 0.25);
}

.alert {
    background-color: #fed3d3;
    color: #820000;
    padding: .5rem;
    margin-top: .5rem;
    border: #82000083 2px solid;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border: #15572483 2px solid;
    padding: .5rem;
    margin-top: .5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.container {
    margin-top: 1.8%;
}