<div id="space"></div>
<div class="row">
    <div class="col-4 menu">
        <ul>
            <li>
                <div style="float: left;">
                    <img src="assets/images/avatar.png" alt="Avatar" id="itemImg">
                </div>
                <p>Eric McDonald - Lead Support</p>
                <p>Contact eric.mcdonald@email.com</p>
            </li>
            <li>
                <div style="float: left;">
                    <img src="assets/images/avatar.png" alt="Avatar" id="itemImg">
                </div>
                <p>Eric McDonald - Lead Support</p>
                <p>Contact eric.mcdonald@email.com</p>
            </li>
            <li>
                <div style="float: left;">
                    <img src="assets/images/avatar.png" alt="Avatar" id="itemImg">
                </div>
                <p>Eric McDonald - Lead Support</p>
                <p>Contact eric.mcdonald@email.com</p>
            </li>
            <li>
                <div style="float: left;">
                    <img src="assets/images/avatar.png" alt="Avatar" id="itemImg">
                </div>
                <p>Eric McDonald - Lead Support</p>
                <p>Contact eric.mcdonald@email.com</p>
            </li>
        </ul>
    </div>

    <div class="col-8">
        <h1>Our Team</h1>
        <p>Our experts at tShare are always happy to help! All of our support team are certified specialists with a four year experience in Customer Service.</p>
        <p>Please use one of the contacts on the left for support.</p>
        <img id="lowerImage" src="assets/images/photo.png" alt="">
    </div>

</div>