<div class="row" id="space">
    <div class="col-4 menu">
        <div class="jumbotron">
                <img src="assets\images\avatar.png" width="100" height="100">
                <p>Tanner Moss- Front-end support</p>
                <p>Contact email@email.com</p>
                <br>
            
                <img src="assets\images\avatar.png" width="100" height="100">
                <p>Eric McDonald - Back-end support</p>
                <p>Contact email@email.com</p>
           
                <img src="assets\images\avatar.png" width="100" height="100">
                <p>Ramon Galindo - Front-end support</p>
                <p>Contact email@email.com</p>
            
                <img src="assets\images\avatar.png" width="100" height="100">
                <p>Mikhail Frolov - Front-end</p>
                <p>Contact email@email.com</p>
            </div>
    </div>

    <div class="col-8">
        <img src="assets\images\tShare_Logo.PNG" width="600" height="100">
        <h1>Our Team</h1>
        <br>
        <p>Our experts at tShare are always happy to help! All of our support team are certified specialists with a four year experience in Customer Service.</p>
        <p>Please use one of the contacts on the left for support.</p>
        <img id="lowerImage" src="assets/images/photo.png" alt="">
    </div>

</div>