<div class="container">
    <div class="row">
        <div class="Absolute-Center">
            <div class="col-md-12">
            <form action="" id="loginForm">
                <div class="form-group">
                    <input class="form-control" type="text" name='username' placeholder="Email"/>          
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name='password' placeholder="Password"/>     
                </div>
                <div class="form-group">
                    <button type="button" class="btn-custom btn-login">Login</button>
                    <button type="button" class="btn-custom btn-login">Forgot Password</button>    
                </div>
                <div class="form-group">
                    <button type="button" class="btn-custom btn-register">Create Account</button>
                </div>
                </form>        
            </div>  
        </div>    
    </div>
</div>