.ng-valid[required], .ng-valid.required  {
    border: 2px solid #1ab9d1;
}

.ng-touched.ng-invalid:not(form), .ng-dirty.ng-invalid:not(form){
    border: 2px solid #a94442; /* red */
}

.alert{
    background-color: #fed3d3;
    color: #820000;
    padding: .2rem;
    margin-top: .5rem;
    border: #82000083 2px solid;
}

.form-group {
    margin-bottom: 1rem;
}