<div class="container login">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
            <form (ngSubmit)="createAccount()" [formGroup]="accountForm">
                <div class="form-group">
                    <input class="form-control" type="text" formControlName="email" placeholder="Email"/>
                    <div *ngIf="form.email.dirty || form.email.touched">
                        <div *ngIf="form.email.errors?.required" class="form-control alert">
                            Email is required.
                        </div>
                        <div *ngIf="form.email.invalid && !form.email.errors?.required" class="form-control alert">
                            Email is invalid.
                        </div>
                    </div>     
                
                    <input class="form-control" type="password" formControlName="password" placeholder="Password"/>
                    <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
                        <div *ngIf="form.password.errors?.required" class="form-control alert">
                            Password is required.
                        </div>
                        <div *ngIf="form.password.errors?.invalidChars" class="form-control alert">
                            Password contains invalid characters.
                        </div>
                        <div *ngIf="form.password.errors?.invalidLength" class="form-control alert">
                            Password must be at least 9 characters long.
                        </div>
                        <div *ngIf="form.password.errors?.noNumbers" class="form-control alert">
                            Password must include at least one number.
                        </div>
                        <div *ngIf="form.password.errors?.noSymbols" class="form-control alert">
                            Password must include at least one symbol.
                        </div>           
                    </div>
                      
                    <input class="form-control" type="password" formControlName="confirm" placeholder="Confirm Password" />
                    <div *ngIf="form.confirm.invalid && (form.confirm.dirty || form.confirm.touched)">   
                        <div *ngIf="form.confirm.errors?.required" class="form-control alert">
                            You must confirm your password.
                        </div>
                        <div *ngIf="form.confirm.errors?.noMatch" class="form-control alert">
                            Passwords must match.
                        </div>
                    </div>  
                </div>
                <div class="form-group">  
                    <label class="check-label">
                        <input type="checkbox" class="check" formControlName="termsOfService" >
                        I Agree to the <a [routerLink]="['/terms-of-service']" class="TOS-link">Terms and Conditions</a>
                    </label>
                    <div *ngIf="form.termsOfService.invalid && (form.termsOfService.dirty || form.termsOfService.touched)">   
                        <div *ngIf="form.termsOfService.errors?.required" class="form-control alert">
                            You must accept the Terms and Conditons.
                        </div> 
                    </div>
                    <button type="submit" class="form-control btn-custom btn-custom-center" [disabled]="!accountForm.valid">Create Account</button>
                    <div class="form-control" *ngIf="response?.show" [ngClass]="response?.success ? 'alert-success' : 'alert'">{{response?.message}}</div>
                </div>
            </form>        
            </div>  
        </div>    
    </div>
</div>