<div class="container login">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
            <form (ngSubmit)="createAccount()">
                <div class="form-group">
                    <input class="form-control" type="text" name='username' placeholder="Email" [(ngModel)]="userAccount.email"/>          
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name='password' placeholder="Password" [(ngModel)]="userAccount.password"/>     
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name='confirmPassword' placeholder="Confirm Password"/>     
                </div>
                <div class="form-group">  
                    <label class="check-label">
                        <input type="checkbox" name="termsConditions" class="check">
                        I Agree to the Terms and Conditions
                    </label>    
                    <button type="submit" class="form-control btn-custom btn-custom-center">Create Account</button>
                </div>
            </form>        
            </div>  
        </div>    
    </div>
</div>