<div class="container">
    <div class="option-bar">
        <div class="option-container">
            <button class="file-option-btn"><i class="bi bi-dash-circle"></i>&#160;&#160;Remove Selected</button>
            <button class="file-option-btn"><i class="bi bi-arrow-repeat"></i>&#160;&#160;Refresh</button>
    
            <input class="file-search" placeholder="What are you looking for?">    
        </div>
    </div>
        <div *ngIf="currentDir != (null || undefined)" class="go-back-bar">
        <div class="go-back">
            <div class="bi bi-arrow-90deg-up"> ../{{currentDir}}</div>
        </div>
    </div>
    <div class="file-container">
        <div *ngIf="files; else loading">
            <div class="file-header">
                <div class="file-info">
                    <div class="file-check">
                    </div>
                </div>
                <div class="file-info">
                    <div class="file-check">
                    </div>
                </div>
                <div class="file-info file-name">
                    Name
                </div>
                <div class="file-info">
                    <div class="file-card-option"></div>
                </div>
                <div class="file-info last-modified">
                    Last Modified
                </div>
                <div class="file-info file-owner">
                    Owner
                </div>
                <div class="file-info file-size">
                    File Size
                </div>
                <hr class="file-header-rule">
            </div>
            <app-file-card *ngFor="let file of files" [file]="file"></app-file-card>
        </div>
        <ng-template #loading>
            <div class="spinner"></div>
        </ng-template>
    </div>
</div>

<!-- Context menu template -->
<context-menu>
    <ng-template contextMenuItem>
        Download
    </ng-template>
    <ng-template contextMenuItem>
        Remove
    </ng-template>
</context-menu>