<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
            <h2>Download</h2>
            <hr>
            <br>
            <h5>
                Windows
            </h5>
            <p>
                <a class="form-control btn-white" [routerLink]="['/coming-soon']">Windows x86 Download</a>
                <a class="form-control btn-white" [routerLink]="['/coming-soon']">Windows x64 Download</a>
            </p><br>

            <h5>
                Mac
            </h5>
            <p>
                <a class="form-control btn-white" [routerLink]="['/coming-soon']">macOS x86 Download</a>
                <a class="form-control btn-white" [routerLink]="['/coming-soon']">macOS x64 Download</a>
            </p><br>

            <h5>
                Linux
            </h5>
            <p>
                <a class="form-control btn-white" [routerLink]="['/coming-soon']">Linux x86 Download</a>
                <a class="form-control btn-white" [routerLink]="['/coming-soon']">Linux x64 Download</a>
            </p><br>
            </div>
        </div>
            
        <div class="col-md-4">
            <div class="responsive">
                <img src="assets\images\tShare_Logo.PNG" id="round-image">
            </div>
            
            <div>
                <img src="assets\images\3607928.png" > 
            </div>
        </div>

        <div class="col-md-4">
            <div class="jumbotron">
            <h2>Helpful Links</h2>
            <hr><br>

            <h6>How do I get to the log-in page?</h6>
            <p>
                Simply click this button:
            </p>
            <p><a class="form-control btn-white" [routerLink]="['/login']">Log-in Page &raquo;</a></p>

            <h6>How do I get to the home page?</h6>
            <p>
                Simply click this button:
            </p>
            <p><a class="form-control btn-white" [routerLink]="['/home']">Home page &raquo;</a></p>

            <h6>How do I get to the company page?</h6>
            <p>
                Simply click this button:
            </p>
            <p><a class="form-control btn-white" [routerLink]="['/company']">Company page &raquo;</a></p>

            <h6>How do I get to the contact us page?</h6>
            <p>
                Simply click this button:
            </p>
            <p><a class="form-control btn-white" [routerLink]="['/contact-us']">Contact us &raquo;</a></p>
            </div>
        </div>
    </div>
</div>