.btn-primary:hover {
    color: #fff;
    background-color: #1ab9d1;
    border-color: #1ab9d1;
}

.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    margin-top: 6rem;
}