.btn-primary:hover {
    color: #fff;
    background-color: #1ab9d1;
    border-color: #1ab9d1;
}

.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.jumbotron {
    background-color: #202020;
    color: #fff;
}

.container {
    margin-top: 7%;
}