<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <img src="assets\images\tShare_Logo.PNG" width="600" height="100" id="round-image">
            
            <h2><br>The Story</h2>
            <br>
            <p>This company came to fruition after a contact from Medix College notified us that they needed a better way to share files. The college said that they did not have any proper
                or efficient way to share files amongst themselves and the students. The format of file or information sharing was through email and just in-class exchanges which in recent
                years the college has mention has fallen short. The college requested that we develop for them a simple, reliable and easy-to-use file management system, which brings
                us to today with the tShare file sharing system.
            </p>
            
        </div>
        
    </div>
</div>