<div id="space">
<h2>Our Mission</h2>
<p>To deliver a reliable, secure, simple, easy-to-use file management system!</p>


<div class="row">
    
    <div class="col-md-4">
        <div class="jumbotron">
        <h2>Our Team</h2>
        <p>
            Tanner Moss - Specializes in front-end developement
        </p>
        <p>
            Eric McDonald - Specializes in back-end development
        </p>
        <p>
            Ramon Galindo - Specializes in front-end development
        </p>
        <p>
            Mikhail Frolov - Specializes in front-end development
        </p>
        <h2>Download</h2>
        <p>
            Windows x86 - <a class="btn btn-primary btn-sml" href="https://www.youtube.com/">Download &raquo;</a>
            <br>
            Windows x64 - <a class="btn btn-primary btn-sml" href="https://www.youtube.com/">Download &raquo;</a> 
            
        </p>
        <p>
            <br>
            macOS x86 - <a class="btn btn-primary btn-sml" href="https://www.youtube.com/">Download &raquo;</a> (Coming soon)
            <br>
            macOS x64 - <a class="btn btn-primary btn-sml" href="https://www.youtube.com/">Download &raquo;</a> (Coming soon)
            
        </p>
        <p>
            <br>
            Linux x86 - <a class="btn btn-primary btn-sml" href="https://www.youtube.com/">Download &raquo;</a> (Coming soon)
            <br>
            Linux x64 - <a class="btn btn-primary btn-sml" href="https://www.youtube.com/">Download &raquo;</a> (Coming soon)
        </p>
        </div>
    </div>
        
    <div class="col-md-4">
        <img src="assets\images\tShare_Logo.PNG" width="600" height="100">
        <img src="assets\images\3607928.png" width="600" height="600">
        
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
        <h2>Helpful Links</h2>
        <br>
        <p>How do I get to the log-in page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/login']">Log-in Page &raquo;</a></p>
        <p>How do I get to the home page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/home']">Home page &raquo;</a></p>
        <p>How do I get to the company page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/company']">Company page &raquo;</a></p>
        <p>How do I get to the contact us page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/contact-us']">Contact us &raquo;</a></p>
        </div>
    </div>
</div>
</div>