<div id="space">
<div class="row">
    
    <div class="col-md-4">
        <div class="jumbotron">
        <h2>Our Team</h2>
        <p>
            Tanner Moss - Specializes in front-end developement
        </p>
        <p>
            Eric McDonald - Specializes in back-end development
        </p>
        <p>
            Ramon Galindo - Specializes in front-end development
        </p>
        <p>
            Mikhail Frolov - Specializes in front-end development
        </p>
        <br>
        <h2>Download</h2>
        <p>
            <a class="form-control btn-black" [routerLink]="['/coming-soon']">Windows x86 Download</a>
            <a class="form-control btn-black" [routerLink]="['/coming-soon']">Windows x64 Download</a>
            
        </p>
        <p>
            <a class="form-control btn-black" [routerLink]="['/coming-soon']">macOS x86 Download</a>
            <a class="form-control btn-black" [routerLink]="['/coming-soon']">macOS x64 Download</a>
            
        </p>
        <p>
            <a class="form-control btn-black" [routerLink]="['/coming-soon']">Linux x86 Download</a>
            <a class="form-control btn-black" [routerLink]="['/coming-soon']">Linux x64 Download</a>
        </p>
        </div>
    </div>
        
    <div class="col-md-4">
        <img src="assets\images\tShare_Logo.PNG" width="600" height="100" id="round-image">
        <img src="assets\images\3607928.png" width="600" height="600">
        
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
        <h2>Helpful Links</h2>
        <br>
        <p>How do I get to the log-in page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/login']">Log-in Page &raquo;</a></p>
        <p>How do I get to the home page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/home']">Home page &raquo;</a></p>
        <p>How do I get to the company page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/company']">Company page &raquo;</a></p>
        <p>How do I get to the contact us page? Simply click this button:</p>
        <p><a class="btn btn-default" [routerLink]="['/contact-us']">Contact us &raquo;</a></p>
        </div>
    </div>
</div>
</div>