<div class="container">
    <div class="row">
        <div class="center-form">
            <div class="col-md-12">
                <form (ngSubmit)="submit()" [formGroup]="emailForm">
                    <div class="form-group">

                        <h1>Forgot Password?</h1>
                        <p>Enter tShare registered email address to send a password recovery email.</p>

                        <input class="form-control" type="text" placeholder="Email" formControlName="email" />    
                        <div *ngIf="form.email.invalid && form.email.dirty">
                            <div *ngIf="form.email.errors?.required" class="form-control alert">
                                Email is required.
                            </div>
                            <div *ngIf="form.email.invalid && !form.email.errors?.required" class="form-control alert">
                                Email is invalid.
                            </div>
                        </div> 

                        <button type="submit" class="form-control btn-custom btn-custom-center" [disabled]="!emailForm.valid">Send</button>
                    </div>
                    <div class="form-control" *ngIf="response" [ngClass]="response?.success ? 'alert-success' : 'alert'">{{response?.message}}</div>
                </form>        
            </div>  
        </div>    
    </div>
</div>