<div class="container">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <form>
                    <div class="form-group">

                        <h1>Forgot Password?</h1>
                        <p>Enter tShare registered email address to send a password recovery email.</p>

                        <input class="form-control" type="text" placeholder="Email" />    

                        <button type="submit" class="form-control btn-custom btn-custom-center" >Send</button>
                    </div>
                </form>        
            </div>  
        </div>    
    </div>
</div>