<div class="container">
    <div class="jumbotron">
        <div class="logo-container">
            <img src="assets\images\tShare_Logo.PNG" id="round-image">
        </div>
        
        <p class="lead"><br>This web application was made so teachers could share documentation in a quick, easy-to-use, and reliable way, allowing us to make their jobs a little easier and letting them get back to teach faster.</p>
        <p><a href="https://www.youtube.com/" [routerLink]="['/product']">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Product</h2>
            <p>
                This application features the ability to upload files directly onto the system from your local machine and share them with your colleagues, it also allows you to directly share files with others while managing the level of access such as read and write.
            </p>
            <p><a class="btn btn-default" [routerLink]="['/product']">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Our Company</h2>
            <p>We are striving to be a transparent company, providing our users with any needed support and providing a seamless experience that will allow them to share files faster than ever before.</p>
            <p><a class="btn btn-default" [routerLink]="['/company']">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Our Team</h2>
            <p>We are four students currently enrolled at Seneca College, looking to make a web application that changes the way teachers share information and saves them time so they can get back to their students.</p>
            <p><a class="btn btn-default" [routerLink]="['/contact-us']">Learn more &raquo;</a></p>
        </div>
    </div>
</div>