<div class="container">
    <div class="tab">
        <button [routerLink]="['./my-files']" routerLinkActive="active">My Files</button>
        <button [routerLink]="['./shared-content']" routerLinkActive="active">Shared Content</button>
        <button [routerLink]="['./request-access']" routerLinkActive="active">Request Access</button>
        <button [routerLink]="['./requests']" routerLinkActive="active">Requests</button>
        <button [routerLink]="['./quick-access']" routerLinkActive="active">Quick Access</button>
        <button [routerLink]="['./deleted-files']" routerLinkActive="active">Deleted Files</button>
    </div>
    <div class="tabcontent">
        <div class="router-box">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>