.form-control{
    text-align: center;
    border-radius: 1.5rem;
    margin-bottom: .5rem;
    max-width: 370px;
    min-width: none;
}

.center {
    margin: auto;
    position: center;
    padding: 100px;
    width: 600px;

}

.btn-custom-center{
    position: relative;
    left: 25%;
}

.btn-custom{
    display: inline;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: black;
    color: white;
    max-width: 180px;
    margin: 2px;
}

@media (max-width: 638px) {
    .btn-custom-center{
        position: relative;
        left: 0;
    }

    .btn-custom {
        max-width: 370px;
        min-width: 0;
    }
}

.btn-custom:hover:not(:disabled):not(.disabled){
    text-decoration: none;
    background-color: #1ab9d1;
    color: white;
}

.btn-custom.disabled, .btn-custom:disabled {
    opacity: 0.65;
}

.btn-custom.disabled:hover, .btn-custom:disabled:hover {
    opacity: 0.40;
    cursor: default;
    background-color: #fed3d3;
    color: white;
}

.btn-custom:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.check{
    display: inline-block;
    border-radius: 1rem;
    height: 15px;
    width: 15px;
    margin: 5px;
    margin-left: 40px;
    background-color: #eee;
    color: #1ab9d1;
}

.check-label{
    color: #495057;
}