.center-form {
    margin: 6rem auto 0 auto;
    padding: 100px;
    width: 600px;
}

.btn-custom-center {
    position: relative;
    left: 25%;
}

.btn-custom {
    display: inline;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    background-color: #202020;
    color: white;
    max-width: 180px;
    margin: 2px;
}

@media (max-width: 638px) {
    .btn-custom-center{
        position: relative;
        left: 0;
    }

    .btn-custom {
        max-width: 370px;
        min-width: 0;
    }
}

.btn-custom:hover:not(:disabled):not(.disabled) {
    text-decoration: none;
    background-color: #1ab9d1;
    color: white;
    text-shadow: 2px 2px 6px black;
}

.btn-custom.disabled, .btn-custom:disabled {
    opacity: 0.65;
}

.btn-custom.disabled:hover, .btn-custom:disabled:hover {
    opacity: 0.40;
    cursor: default;
    background-color: #fed3d3;
    color: white;
}

.btn-custom:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.check{
    display: inline-block;
    border-radius: 1rem;
    height: 15px;
    width: 15px;
    margin: 5px;
    margin-left: 40px;
    background-color: #eee;
    color: #1ab9d1;
}

.check-label {
    color: #495057;
}

#round-image {
    border-radius: .3rem;
}

.ngx-contextmenu .dropdown-menu {
    background-color: #202020;
    padding: 0;
    border-radius: 0;
}

.ngx-contextmenu .dropdown-menu>li>a {
    color: white;
}

.ngx-contextmenu .dropdown-menu>li>a:hover {
    background-color: #1ab9d1;   
}

/* Added to create responsive images in the app, wrap your images with a div with the sizing you want your image to be */
img {
    width: 100%;
    height: auto;
}

/* Stops weird glitchy automatic transition from bootstrap icons */
.bi {
    transition: none;
}

/* Loading spinner */
.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(26, 185, 209,.15);
    border-right:6px solid rgba(26, 185, 209,.15);
    border-bottom:6px solid rgba(26, 185, 209,.15);
    border-top:6px solid #1ab9d1;
    border-radius:100%;
 }
 
 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }

 .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }