<div class="container">
    <div class="row">
        <div class="col-3 center">
            <div class="jumbotron">
                <div class="avatar-container">
                    <img src="assets\images\avatar.png" width="100" height="100">
                </div>
                <p>Tanner Moss</p>
                <p><a href="mailto:tmoss2@myseneca.ca">tmoss2@myseneca.ca</a></p>
            
                <div class="avatar-container">
                    <img src="assets\images\avatar.png" width="100" height="100">
                </div>
                <p>Eric McDonald</p>
                <p><a href="mailto:emcdonald5@myseneca.ca">emcdonald5@myseneca.ca</a></p>

                <div class="avatar-container">
                    <img src="assets\images\avatar.png" width="100" height="100">
                </div>
                <p>Ramon Galindo</p>
                <p><a href="mailto:ragalindo@myseneca.ca">ragalindo@myseneca.ca</a></p>
            
                <div class="avatar-container">
                    <img src="assets\images\avatar.png" width="100" height="100">
                </div>
                <p>Mikhail Frolov</p>
                <p><a href="mailto:mfrolov@myseneca.ca">mfrolov@myseneca.ca</a></p>
            </div>
        </div>

        <div class="col-8 center">
            <img id="lowerImage" src="assets/images/photo.png" alt="">
        </div>
    </div>
</div>