<div class="jumbotron">
    <h1>tShare</h1>
    <p class="lead">This web application was made so teachers could share documentation in a quick, easy-to-use, and reliable way, allowing us to make their jobs a little easier and letting them get back to teach faster.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            This app features the ability to upload files directly onto the system from your local machine and share them ith your colleagues, it also allows you to directly share files with others while managing the level of access such as read and write.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>We are four students currently enrolled at Seneca College, looking to make a web application that changes the way teachers share information.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fun fact</h2>
        <p>This application as created by four students at Seneca College.</p>
        <p><a class="btn btn-default" href="https://www.rd.com/article/spell-number-up-1000-without-a/#:~:text=Nor%20is%20there%20an%20%E2%80%9CA,makes%20an%20appearance%3A%20one%20thousAnd.">Learn more &raquo;</a></p>
    </div>
</div>
