<div class="split left">
    <div class="centered">
        <img src="assets\images\acc_pref.png">
        <h1>Account Preferences</h1>
    </div>
</div>

<div class="split right">
    <div class="centeredRight">

        <div class="row">
            <div class="column">
                <h1>Email: </h1>
            </div>
            <div class="column">
                <h5>{{userEmail}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h1>Password: </h1>
            </div>
            <div class="column">
                <h5><a style="color: white; text-decoration: underline;" [routerLink]="['./change-password']">Edit Password</a></h5>

            </div>
        </div>
        <div class="row">
            <div class="column">
                <h1>Date Format:</h1>
            </div>
            <div class="column">
                <form (ngSubmit)="apply()" [formGroup]="preferencesForm">
                    <select class="format-select form-control" formControlName="dateFormat">
                        <option *ngFor="let format of formats" [ngValue]="format">{{format}}</option>
                    </select>
                    
                    <button type="submit" class="form-control btn-custom">Apply</button>
                </form>
                <div class="form-control center-response" *ngIf="response" [ngClass]="response?.success ? 'alert-success' : 'alert'">{{response?.message}}</div> 
            </div>
        </div>
        <br>
        
    </div>
</div>