.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    width: 80vw;
    height: 78vh;
    background-color: #222222;
}

* {
    box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 40px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}