<div class="split left">
    <div class="centered">
        <img src="assets\images\acc_pref.png">
        <div class="space"></div>
        <h2>Account Preferences &#8594;</h2>
    </div>
</div>

<div class="split right">
    <div class="centeredRight">

        <div class="row">
            <div class="column">
                <h3 style="margin-top: 3em;">Email: </h3>
            </div>
            <div class="column">
                <p>eric.mcdonald@gmail.com</p>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <h3>Date Format:</h3>
            </div>
            <div class="column">
                <select id="dateFormats" name="formats">
                <option value="ddmmyy">DD/MM/YY</option>
                <option value="yymmdd">YY/MM/DD</option>
                <option value="mdyy">M/D/YY</option>
                <option value="yyyymondd">YYYY, Mon DD</option>
              </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column">
                <h3>Password: </h3>
            </div>
            <div class="column">
                <p>********* <br><a style="color: white;" [routerLink]="['./change-password']">Edit</a></p>

            </div>
        </div>
    </div>
</div>