<!-- <div class="body">
    <div class="center">
        <h1>
            Personal Information
        </h1>
        <div class="row">
            <div class="column">
                <h3>Email:</h3>
            </div>
            <div class="column">
                <h3>eric.mcdonald@gmail.com</h3>
            </div>
        </div>
        <h1>
            Preferences
        </h1>
        <div class="row">
            <div class="column">
                <h3>Date Format:</h3>
            </div>
            <div class="column">
                <select id="dateFormats" name="formats">
                <option >DD/MM/YY</option>
                <option >YY/MM/DD</option>
                <option >M/D/YY</option>
                <option >YYYY, Mon DD</option>
              </select>
            </div>
        </div>
        <h1>
            Security
        </h1>
        <div class="row">
            <div class="column">
                <h3>Password:</h3>
            </div>
            <div class="column">
                <a style="color: white;" [routerLink]="['./change-password']">Edit</a>
            </div>
        </div>
    </div>
</div> -->
<div class="split left">
    <div class="centered">
        <img src="assets\images\acc_pref.png">
        <div class="space"></div>
        <h2>Account Preferences (right arrow)</h2>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h2>Password etc. Coming Soon</h2>
        <p>Some text here too.</p>
    </div>
</div>