.split {
    height: 94%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    padding-top: 20px;
}

.row {
    margin-bottom: 2em;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: #1ab9d1;
    color: white;
}

.right h1 {
    margin-bottom: 0.3em;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centeredRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 512px;
    width: 480px;
}

.centered img {
    width: 60em;
    height: auto;
}

.column {
    float: left;
    width: 1000%;
}

.btn-custom:hover:not(:disabled):not(.disabled) {
    background-color: white;
    color: black;
    text-shadow: none;
}

.format-select {
    width: 60%;
    margin-left: 20%;
}

.form-control {
    border-radius: 6px;
    margin-bottom: 1rem;
    position: center;
}

.center-response {
    width: 60%;
    margin: auto;
}