/* 
.center {
    margin: auto;
    width: 60%;
    padding: 30px;
    text-align: center;
    color: white;
    border: 2px solid #1ab9d1;
    border-radius: 1rem;
    width: 80vw;
    height: 78vh;
    background-color: #1ab9d1;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} */

.split {
    height: 92%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: #1ab9d1;
}

.space {
    margin-top: -5em;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centeredRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 50em;
    height: auto;
}

.column {
    float: left;
    width: 1000%;
}