.header-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
    .header-container {
      max-width: 540px;
    }
  }
  
@media (min-width: 768px) {
  .header-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .header-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .header-container {
    max-width: 1140px;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .header-container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}