<header class="header">
  <!-- Main Navbar -->
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <!-- Navbar Brand -->
        <div class="d-flex align-items-center justify-content-between">
          <a class="navbar-brand">tShare</a>
        </div>
      <!-- Navbar Menu -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item"><a [routerLink]="['/product']" routerLinkActive="active" class="nav-link">Product</a>
          </li>
          <li class="nav-item"><a [routerLink]="['/company']" routerLinkActive="active" class="nav-link">Company</a>
          </li>
          <li class="nav-item"><a [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item" *ngIf="token"><a [routerLink]="['/file-dashboard/my-files']" [ngClass]="{'active': dashboardActive()}" class="nav-link">Dashboard</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!token"><a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Log In</a>
          </li>
          <li class="nav-item" *ngIf="token"><a [routerLink]="['/account-preferences']" routerLinkActive="active" class="nav-link">Account</a>
          </li>
          <li class="nav-item" *ngIf="token"><a (click)="logout()" [routerLink]="" class="nav-link">Log Out</a>
          </li>
        </ul>
    </div>
  </nav>
</header>