@import "~bootstrap-icons/font/bootstrap-icons.css";

.modal-content,
.modal-body {
    background-color: #202020;
    color: white;
}

.modal-header .close {
    color: white;
}

.btn-dark {
    border-radius: 6px !important;
    background-color: #323232;
    border: none;
}

.btn-dark:hover {
    background-color: #1ab9d1;
}

.modal-footer,
.modal-header {
    border: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
