<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Terms and Conditions</h2>
        <p>Welcome to our web application that is intended to be an information sharing network. These are our terms and conditions for use of this web application, 
            which you may access in several ways, including but not limited to the world wide web via tShare.com or through your mobile device. We reserve the right to change, 
            modify, or remove the contents of the site at any time for any reason at our sole discretion without notice. We will not be liable to you or any third party for any modification, 
            price change, suspension, or discontinuance of the site. We cannot guarantee the site will be available at all times, we may experience hardware, software, or other problems 
            or need to perform maintenance related to the site, resulting in interruptions, delays or errors. You agree that we have no liability for loss, damage or inconvenience caused 
            by your inability to access or use the site during any downtime or discontinuance to the site. Nothing in these Terms and Conditions will be construed to obligate us to maintain and
            support the site to supply any corrections, updates, or releases in connection therewith. You may not use this website for any illegal activities or any activities that might be considered
            against the code of ethics of the world wide web.  </p>
        <p><button type="button" [routerLink]="['/register']">Return to registration page</button></p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>