<div class="container form-container">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
               
                    <div class="form-group">

                        <input class="form-control" type="password" formControlName="current password" placeholder="Current password" />      

                        <input class="form-control" type="password" formControlName="new password" placeholder="New password" />          

                        <input class="form-control" type="password" formControlName='confirm new password' placeholder="Confirm password" />     
                    
                        <button type="submit" class="form-control btn-custom btn-custom-center">Change password</button>
                        
                    </div>
                   
            </div>  
        </div>    
    </div>
</div>