<div class="container">
    <div class="row">
        <div class="center">
            <div class="col-md-12">
                <form (ngSubmit)="submit()" [formGroup]="passwordForm">
                    <div class="form-group">

                        <h1>Change password</h1>
                        <p>Please enter current password, then enter new password and confirm.</p>

                        <input class="form-control" type="password" formControlName="currentPassword" placeholder="Current Password"/>
                        <div *ngIf="form.currentPassword.invalid && (form.currentPassword.dirty || form.currentPassword.touched)">
                            <div *ngIf="form.currentPassword.errors?.required" class="form-control alert">
                                Password is required.
                            </div>
                        </div>
                        <br>
                        <input class="form-control" type="password" formControlName="newPass" placeholder="New Password"/>
                        <div *ngIf="form.newPass.invalid && (form.newPass.dirty || form.newPass.touched)">
                            <div *ngIf="form.newPass.errors?.required" class="form-control alert">
                                Password is required.
                            </div>
                            <div *ngIf="form.newPass.errors?.invalidChars" class="form-control alert">
                                Password contains invalid characters.
                            </div>
                            <div *ngIf="form.newPass.errors?.invalidLength" class="form-control alert">
                                Password must be at least 9 characters long.
                            </div>
                            <div *ngIf="form.newPass.errors?.noNumbers" class="form-control alert">
                                Password must include at least one number.
                            </div>
                            <div *ngIf="form.newPass.errors?.noSymbols" class="form-control alert">
                                Password must include at least one symbol.
                            </div>           
                        </div>
                          
                        <input class="form-control" type="password" formControlName="confirm" placeholder="Confirm Password" />
                        <div *ngIf="form.confirm.invalid && (form.confirm.dirty || form.confirm.touched)">   
                            <div *ngIf="form.confirm.errors?.required" class="form-control alert">
                                You must confirm your password.
                            </div>
                            <div *ngIf="form.confirm.errors?.noMatch" class="form-control alert">
                                Passwords must match.
                            </div>
                        </div>
                        <button type="submit" class="form-control btn-custom btn-custom-center" [disabled]="!passwordForm.valid">Confirm</button>
                    </div>
                    <div class="form-control" *ngIf="response" [ngClass]="response?.success ? 'alert-success' : 'alert'">{{response?.message}}</div>
                </form>        
            </div>  
        </div>    
    </div>
</div>